@import "@fontsource/ubuntu/400.css";
@import "@fontsource/ubuntu/700.css";

@import "tailwindcss";

html,
body,
#root {
  height: 100%;
  font-family: "Ubuntu", sans-serif;
}

body {
  margin: 0;
  overflow: hidden;
  background: var(--color-bg);
}

